
/*
 * Any of you guys know some good colors?
 * -MM
 */

body {
    font-size: 2em;
    background-color: #002b36;
}

#moneyButton {
    background-color: #cb4b16;
    border: 10px #cb4b16 solid;
    border-radius: 10%;
}

#moneyDisplay {
    color: #859900;
    font-size: 3em;
}
