
/*
 * Any of you guys know some good colors?
 * -MM
 */

body {
    font-size: 2em;
    background-color: #002b36;
}

/*
 * Buttons shouldn't be selectable.
 */
.buttonLike, .noSelect {
    -webkit-user-select: none;   
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.buttonLike {
    border: 10px #002b36 solid;
    border-radius: 10%;
}

.buttonLike:hover   {
    cursor:pointer
    
}

.header {
    color: #cb4b16;
}

#moneyButton {
    background-color: #cb4b16;
    border-color: #cb4b16;
}

#moneyDisplay {
    color: #859900;
    font-size: 3em;
}

#exploreBar {
    color: #cb4b16;
}

.upgradeData {
    font-size: 2em;
    border-radius: 10%;
    color: #859900;
    border: 1px solid #cb4b16;
    background-color: #cb4b16; 
}

#exploreBar {
		width: 400px;
		height: 22px;
		border: 1px solid #cb4b16;
		background-color: #cb4b16;
}

#exploreBar div {
		height: 100%;
		color: #fff;
		text-align: right;
		line-height: 100%;
 		width: 0;
		background-color: #859900;
}

#exploreBar, #exploreBar div {
    border-radius: 20%; 
}

