
body {
    background: #002b36;
    font-family: Monospace, sans-serif;
    font-size: 15px;
}

a:link {
    color: #93a1a1;
}

a:visited {
    color: #839496;
}

ul {
    color: #839496;
}
h1 {
    color: #cb4b16;
}
